{% extends 'layout.html.twig' %}

{% block body %}
      <!--overview start-->
      <div class="main container">
        <div class="row well" >
            <div class="col-md-10">
                <div class="page-header">
                   <h3 class="page-header"><i class="icon_house_alt" aria-hidden="true"></i>Unidad de Carga</h3>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Nombre:</th>
                            <td> {{ unidadCarga.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Localidad:</th>
                            <td>{{ unidadCarga.localidad }}</td>
                        </tr>
                        
                        
                    </tbody>
                </table>

                <ul>
                    <li>
                        
                            <a class="btn btn-info" href="{{ path('unidadcarga_index') }}">Listado de unidades de carga</a>
                            <a class="btn btn-success" href="{{ path('unidadcarga_edit', { 'id': unidadCarga.id }) }}">Editar</a>
                    
                    </li>
                </ul>
            </div>
        </div>
    </div>
     
{% endblock %}
