{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<h1>La cuenta de usuario ha sido dada de alta con éxito. </h1>
	<div class="row">
        <div class="col-lg-12">
            <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}" title="Nuevo Usuario"> Nuevo Usuario</a> 
        </div>
    </div>
{% endblock %}