{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<body class="login-img3-body">
		<div class="login-form"> 
			<p><i class="fa fa-fw fa fa-users" aria-hidden="true"> </i>{{ 'resetting.password_already_requested'|trans }}</p>
		</div>
	</body>	
{% endblock fos_user_content %}