{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
 	<body class="login-img3-body">
		{% include "FOSUserBundle:Resetting:request_content.html.twig" %}	
	</body>

{% endblock fos_user_content %}
