{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request login-form">
    <div class="login-wrap">   
            <p class="login-img"><i class="icon_lock_alt"></i>Contraseña</p>
            {% if invalid_username is defined %}
                <p></p>
                <div class="alert alert-block alert-danger fade in">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                      <i class="icon-remove"></i>
                  </button>
                  {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
              </div>
            {% endif %}
            <div class="input-group">
                  <span class="input-group-addon"><i class="icon_profile"></i></span>
                  <input type="text" id="username" name="username" class="form-control" placeholder="{{ 'resetting.request.username'|trans }}"  autofocus required>
            </div>
             <button class="btn btn-primary btn-lg btn-block" type="submit" id="_submit" name="_submit" value="{{ 'resetting.request.submit'|trans }}">Restablecer contraseña</button>
    </div>
 
</form>
