{% extends 'layout.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-lg-12">
        	{% if editar_pass == true %}
            <h3 class="page-header"><i class="icon_house_alt" aria-hidden="true"></i>Modificar Contraseña</h3>
            {% else %}
            <h3 class="page-header"><i class="icon_house_alt" aria-hidden="true"></i>Modificar Perfil</h3>
            {% endif %}
            <a class="btn btn-primary" href="{{ path('user_index') }}" title="Volver"><i class="fa fa fa-reply-all" aria-hidden="true"></i>  Volver</a> 
        </div>
    </div>
    <br>

    <div class="main container">
        <div class="row well" >
            <div class="col-md-4">

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br><input type="submit" class="btn btn-success" value="Modificar" />
         {{ form_end(edit_form) }}

       </div>      
    </div>


{% endblock %}
